.header {
    flex: 1;
    min-height: 10vh;
    background-color: #7b1fa2;
    position: relative;
    top: 0;
    z-index: 100;
    overflow-x: hidden;
    width: 100vw;
}

.nav {
    display: flex;
    color: #e4e6eb;
}

.nav-link {
    color: #e4e6eb;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
    padding: 10px 40px;
}

.header-text {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    text-align: right;
}

.nav-link:hover {
    color: #fff;
}

.header-title {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    color: #fff;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        height: 10vh;
    }
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header-title {
        font-size: 1rem;
    }

    .nav-link {
        font-size: 0.9rem;
        padding: 13px;
    }

    .header-text {
        display: flex;
    }
}
