.sent {
    color: #E4E6EB;
    float: right;
    text-align: right;
}

.received {
    color: #E4E6EB;
    float: left;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #3A3B3C;
    width: 50%;
    clear: both;
}

.author {
    font-weight: bold;
    margin-bottom: 5px;
    color: #BB86FC;
}

.message .content {
    margin: 0;
}

.author {
    font-weight: bold;
    margin-bottom: 5px;
}

.content {
    margin: 0;
}

